@import url();  

body  {
  background-color:aqua;
  color: green;
  font-family: sans-serif;
}

h2 {
  color: red;
}

#sample h2 {
  color: honeydew;
}

body > header > h2 {
  background: black;
  color: blue;
}

#main-header {
  border: 3px solid #aaaaaa;
  text-decoration: line-through;
}

#top-stories {
  margin: auto;
  width: 1000px;
}

article img {
  max-width: 100%;
  max-height: 100%;
}

a:hover {
  color:black;
}